.width {
    width: 20%;
}

#line {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.row {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

#buttons {
    padding: 5px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid grey;
    overflow: auto;
}

td, th {
    padding: 1px 3px;
    border: 1px solid grey;
}

#delall {
    background-color: red;
}

label {
    display: flex;
    justify-content: center;
}

form {
    padding: 5px;
}

#col{
    display: flex;
    justify-content: center;
    align-items: center;
}