.container{
	width: 100%;
	padding: 20px 15px 20px 15px;
	margin: 10px 10px 10px 10px;
}

.me {
	float: left;
	font-size: 24px;
}

nav {
	float: right;
	font-size: 18px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	text-decoration: none;
	line-height: 38px;
}

.col-1-2 {
	width: 50%;
	float: left;
}

.main_foto {
	float: right;
}