.container{
	width: 100% - 80px;
	padding: 50px 0px;
	margin: 0px 40px;
}

.me {
	float: left;
	font-size: 24px;
}

nav {
	float: right;
	font-size: 18px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin: 0px 10px;
	display: inline-block;
}

nav a {
	text-decoration: none;
	line-height: 38px;
}