.container{
	width: 100% - 80px;
	padding: 30px 30px;
	padding-bottom: 30;
	font-family: "Times New Roman", Georgia, Serif;
}

header {
	height: 90px
}

.me {
	float: left;
	font-size: 30px;
}

nav {
	float: right;
	font-size: 14px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin: 0px 5px;
	display: inline-block;
}

a {
	text-decoration: none;
	line-height: 38px;
}